@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --fonts:"Merriweather", "Poppins", "Roboto", "Ubuntu", "sans-serif";
    --conent-font:"Roboto","Ubuntu", "sans-serif";
    --Header-font:"Merriweather", "Poppins", "sans-serif";
}

/* Grid Template for whole page structure */
body {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    margin:0;
    padding:0;
    font-family: var(--fonts);
}

/* Content for heading of page */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #e8e4e4;
    box-shadow: 0px 9px 11px rgba(0,0,0,0.5);
    padding: 1rem;
    z-index: 1;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
h1 {
    flex: 0.4 1 auto;
    font-family: var(--Header-font);
}

.btnCont {
    position: fixed;
    top: 2rem;
    right: 1rem;
}

.bookHead{
    width: 15%;
}

.addImage{
    width: 3rem;
}

main, footer {
    background: -webkit-linear-gradient(left, #f4ece7, #f6dac5);
    padding-top: 16px;
}

/* Styles content in the main container */

/* Dialog animating and key frames for dialog */

dialog[open]{
    animation: fade-in 0.5s ease-in forwards;
}

dialog{
    animation: fade-out 0.5s ease-out backwards;
}

dialog::backdrop{
    animation: backdrop-fade-in 0.5s ease-in forwards;
}

/* dialog keyframes */

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: scaleX(0);
        display: none;
    }

    100%{
        opacity: 1;
        transform: scaleX(1);
        display: block;
    }
    
}

@keyframes fade-out {
    0%{
        opacity: 1;
        transform: scaleX(1);
        display: block;
    }
    100%{
        opacity: 0;
        transform: scaleX(0);
        display: none;
    }
    
}

@keyframes backdrop-fade-in {
    0%{
        background-color: rgb(0 0 0/0%);
    }
    100%{
        background-color: rgb(0 0 0/25%);
    }
}

/* dialog, form, and table styling */

/* dialog styling */
dialog {
    z-index: 3;
    background: -webkit-linear-gradient(left, #f4ece7, #f6dac5);
    border-radius: 1rem;
}
form {
    font-family: var(--Header-font);
    font-weight: 600;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title, .author, .pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    width: 100%;
}
#title, #author, #pages {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.read {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.yesNo {
    display: flex;
    gap: 5px;
}

.formButtons {
    display: flex;
    gap: 5rem;
}
#btnSubmit, #cancelBtn {
    border-style: none;
    border-radius: 1rem;
    padding: 10px;
    font-family: var(--fonts);
    font-size: large;
    font-weight: 700;
    color: white;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.4);
}
#cancelBtn {
    background-color: #7e0808;
}
#btnSubmit {
    background-color: #78aecd;
}

/* Animate buttons when pressed */
#btnSubmit:active, #cancelBtn:active{
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.7);
    transform: translateY(4px);
}

/* This series of functions are the levers for animating and styling the table itself */
table{
    width: 100%;
    table-layout: fixed;
    font-family: var(--conent-font);
    border-collapse: collapse;
}
.tbl-header{
    vertical-align: bottom;
    background-color: rgba(90, 90, 90, 0.3);
}
.tbl-content{
    margin-top: 0px;
    position: relative;
    overflow-x: auto;
    height: 60vh;
    border: 1px solid rgba(16, 16, 16, 0.3);
}

td{
    padding:10px;
    text-align: center;
    margin: auto;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(48, 47, 47, 0.3);
    vertical-align: middle;
}

/* shades the table row, in which the user mouse is hovering over */
tbody tr{
    transition: background-color 0.1s ease;
}
tbody tr:hover{
    background: #000f1342;
}

/* Button styling for remove buttons */
.removeStyle {
    margin: 1rem 0;
    padding: 6px;
    border-radius: 1rem;
    border-style: none;
    font-family: var(--conent-font);
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    background: #f19609;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
}
.removeStyle:active{
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.7);
    transform: translateY(3px);
}
/* table header styling */
.tableHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    width:2.5rem;
    margin: 0;
    filter: opacity(70%);
}


/* animate the checkbox to look like a switch */

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    background: rgb(126, 125, 125);
    width:35px;
    height:15px;
    border-radius: 1rem;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0,0,0,0.6);
}
/* Fills in the background when the box is checked--indicates the switch is live */
input:checked[type='checkbox']{
    background-color: rgb(253, 173, 54);
    transition: 0.7s ease all;
}

input[type="checkbox"]::before{
    content: "";
    position: absolute;
    height:15px;
    width:15px;
    left:0;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    transform: scale(1.1);
    transition: 0.7s ease all;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0,0,0,0.6);
}
input:checked[type="checkbox"]::before{
    background-color: rgb(255, 255, 255);
    left: 25px;
}

/* custom scroll bar for table */
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/* Footer styling */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sourceCont, .odinResource, .gitHubLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gitImg{
    width: 5rem;
}
.gitImg:hover{
    transition: 0.7s ease;
    transform: rotate(1.0turn);
}