

/* Grid Template for whole page structure */
body {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    /* justify-content: center; */
    gap: 1rem;
    margin:0;
    padding:0;
}

/* Content for heading of page */

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
}



table{
    border: 2px solid black;
    width: 100%;
}

th,td{
    border: 1px solid black;
    padding:10px
}

.stickyCont{
    display: flex;
    justify-content: end;
    position: sticky;
    bottom:0%;
    padding:10px;
}
