@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --fonts:"Merriweather", "Poppins", "Roboto", "Ubuntu", "sans-serif";
    --conent-font:"Roboto","Ubuntu", "sans-serif";
    --Header-font:"Merriweather", "Poppins", "sans-serif";
}

/* Grid Template for whole page structure */
body {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    /* justify-content: center; */
    /* gap: 1rem; */
    margin:0;
    padding:0;
    font-family: var(--fonts);
}

/* Content for heading of page */

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #e8e4e4;
    box-shadow: 0px 9px 11px rgba(0,0,0,0.5);
    padding: 1rem;
    z-index: 1;
}

h1 {
    flex: 0.4 1 auto;
    font-family: var(--Header-font);
}
.bookHead{
    width: 5%;
}

.addImage{
    width: 3rem;
}

main{
    /* Temproary */
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}
/* Styles content in the main container */

/* Dialog animating and key frames for dialog */

dialog[open]{
    animation: fade-in 0.5s ease-in forwards;
}

dialog{
    animation: fade-out 0.5s ease-out backwards;
}

dialog::backdrop{
    animation: backdrop-fade-in 0.5s ease-in forwards;
}

/* dialog keyframes */

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: scaleX(0);
        display: none;
    }

    100%{
        opacity: 1;
        transform: scaleX(1);
        display: block;
    }
    
}

@keyframes fade-out {
    0%{
        opacity: 1;
        transform: scaleX(1);
        display: block;
    }
    100%{
        opacity: 0;
        transform: scaleX(0);
        display: none;
    }
    
}

@keyframes backdrop-fade-in {
    0%{
        background-color: rgb(0 0 0/0%);
    }
    100%{
        background-color: rgb(0 0 0/25%);
    }
}

/* dialog, form, and table styling */

table{
    width: 100%;
    table-layout: fixed;
    font-family: var(--conent-font);
}
.tbl-header{
    vertical-align: bottom;
    background-color: rgba(255,255,255, 0.3);
}
.tbl-content{
    margin-top: 0px;
    position: relative;
    overflow-x: auto;
    height: 60vh;
    border: 1px solid rgba(255,255,255,0.3);
}

th,td{
    color:#ffffff;
}
td{
    padding:10px;
    text-align: center;
    margin: auto;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    vertical-align: middle;
}
.removeStyle{
    display: block;
    margin: auto;
}

.tableHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    width:2.5rem;
    margin: 0;
    filter: invert(100%) opacity(70%);
}


/* animate the checkbox to look like a switch */

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    background: rgb(126, 125, 125);
    width:35px;
    height:15px;
    border-radius: 1rem;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0,0,0,0.6);
}
/* Fills in the background when the box is checked--indicates the switch is live */
input:checked[type='checkbox']{
    background-color: rgb(54, 134, 253);
    transition: 0.7s ease all;
}

input[type="checkbox"]::before{
    content: "";
    position: absolute;
    height:15px;
    width:15px;
    left:0;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    transform: scale(1.1);
    transition: 0.7s ease all;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 3px 5px -1px rgba(0,0,0,0.6);
}
input:checked[type="checkbox"]::before{
    background-color: rgb(255, 255, 255);
    left: 25px;
}


.stickyCont {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 10px;
    padding: 10px;
}



::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}